.wrapper > header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	min-height: 5em;
	padding: 1em;	
	background-color: #fff;
	box-shadow: 0 0 4px 0 rgba(0, 55, 85, 0.1)}
	
	@media screen and (min-width: 1164px) {
		.wrapper > header {
			padding: 1em calc(calc(100vw - 1132px)/2);
		}		
	}

	.wrapper > header .logo {	
		display: inline-block;
		position: relative;
		width: 180px;
		height: 40px;
		background: url(images/danske-logo.svg) no-repeat 0%;
		background-size: 100%}
		
		.wrapper > header .logo > span {display: none}

nav.main-menu {vertical-align: top;	display: block}
	
	nav.main-menu .menu-activator {
		display: inline-block;
		z-index: 999;
		position: fixed;
		top: 0;
		right: 0;
		padding: 1em;
		color: inherit;
		font-size: 1.6em;
		cursor: pointer;
		transition: color 0.2s ease-out}
		
		@media screen and (min-width: 1024px) {
			nav.main-menu .menu-activator {display: none}
		}
	
	nav.main-menu > ul {
		display: block;
		position: fixed;
		z-index: 899;
		top: 5em;
		bottom: calc(100vh - 5em);
		border-top: 1px solid #f9fafa;
		font-weight: 700;
		left: 0;
		right: 0;
		background-color: #fff;
		color: #003755;
		transition: all 0.3s ease-out;
		visibility: hidden}
		
		@media (max-width: 1023px) {
			nav.main-menu > ul {overflow: hidden}
		}
		
		@media (max-height: 490px) and (max-width: 1023px) {
			nav.main-menu > ul {overflow-y: scroll}
		}
		
		.menu-open nav.main-menu > ul {visibility: visible; bottom:0}
		
		@media screen and (min-width: 1024px) {
			nav.main-menu > ul,
			.menu-open nav.main-menu > ul {
				position: relative;
				width: auto;
				padding: 0;
				margin: 0;
				top: auto;
				bottom: auto;
				left: auto;
				right: auto;
				border-top: 0;
				background-color: transparent;
				opacity: 1;
				visibility: visible}
		}
		
			nav.main-menu > ul > li {padding-left: 1.5em}
			
				nav.main-menu > ul > li > a,
				nav.main-menu > ul > li > ul li > a {
					color: inherit;
					border-bottom: 1px solid #e0e7ea;
					display: block;
					padding: 1em 1.5em 1em 0}
				
				nav.main-menu > ul > li.user-actions > a {display: none}
					nav.main-menu > ul > li.user-actions > a i {padding-left: 0.5em}
				
				nav.main-menu > ul > li:nth-last-child(2) > a,
				nav.main-menu > ul > li > ul li:nth-last-child(1) > a {border-bottom: 0}
				
				nav.main-menu > ul > li:hover > a,
				nav.main-menu > ul > li.active > a,
				nav.main-menu > ul > li.user-actions.open > a,
				nav.main-menu > ul > li.user-actions > ul li:hover > a {color: #009fda}
				
				nav.main-menu > ul > li > ul li > a > i {font-size: 1.5em; padding-right: 0.7em}
		
				nav.main-menu > ul > li.user-actions > ul > div {margin-left: -1.5em; padding-left: 1.5em}
				
				nav.main-menu > ul > li.user-actions > ul .profile-actions {
					border-top: 1px solid #e0e7ea;
					border-bottom: 1px solid #e0e7ea;
					background: #f3f5f4}				
				
				nav.main-menu > ul > li.user-actions > ul .site-actions {opacity: 0.6; font-weight: 400; margin-top: 0.6em}
				
				nav.main-menu > ul > li.user-actions > ul .site-actions a {border-bottom: 0; font-size: 0.9em}
				
			@media screen and (min-width: 1024px) {

				nav.main-menu > ul > li {
					display: inline-block;
					padding: 0;
					font-size: 1em}
					
					nav.main-menu > ul > li > a {border-bottom: 0; padding: 1em 1.5em; cursor: pointer}

					nav.main-menu > ul > li.user-actions {position: absolute; right: 0}		
					nav.main-menu > ul > li.user-actions > a {display: block}						
					
					nav.main-menu > ul > li.user-actions > ul {
						cursor: pointer;
						display: inline-block;
						position: fixed;
						z-index: 899;
						top: 4em;
						text-align: left;
						font-weight: 700;
						left: auto;
						right: 1em;
						margin: 0;
						padding: 0.5em 0;
						border-radius: 2px;
						border: 0;
						background-color: #fff;
						opacity: 0.1;
						transition: all 0.4s ease-out;
						box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
						visibility: hidden}
					
						nav.main-menu > ul > li.user-actions.open > ul {opacity: 1; visibility: visible}
						
						nav.main-menu > ul > li.user-actions > ul:before {
							content: "";
							display: inline-block;
							background: url(images/top-triangle.png) no-repeat center;
							background-size: 100%;
							width: 13px;
							height: 7px;
							position: absolute;
							top: -7px;
							right: 25px;
						}
					
					nav.main-menu > ul > li.user-actions > ul > div {margin-left: 0; padding-left: 0.5em; }						
					nav.main-menu > ul > li.user-actions > ul .profile-actions {border-top: 0; border-bottom: 0; background: #fff}
					nav.main-menu > ul > li.user-actions > ul .contact-us {display: none}
					nav.main-menu > ul > li.user-actions > ul li > a {font-weight: 400; font-size: 1em; border-bottom: 0; padding: 0.5em 3em 0.5em 1em}						
					nav.main-menu > ul > li.user-actions > ul .site-actions a {padding: 0.5em 3em 0.5em 1.1em}						
						nav.main-menu > ul > li.user-actions > ul li > a i {display: none}

			}

/* STICKY ACTIONS */				
				
ul.sticky-actions {position: absolute; display: none}
	
	.menu-open ul.sticky-actions,
	ul.sticky-actions > li {display: block}
	
		ul.sticky-actions > li > a {
			position: fixed;
			display: block;
			text-align: left;			
			width: 100vw;
			height: 48px;						
			top: 5em;
			right: -100vw;
			bottom: 18px;
			left: 100vw;			
			line-height: 36px;			
			visibility: hidden;			
			opacity: 0;
			z-index: 901;			
			padding: 5px 25px;			
			background-color: #f3f5f4;
			color: #003755;
			transition: all 0.3s ease-out}			
			
		ul.sticky-actions > li > .expandable-area {
			position: fixed;
			bottom: 0;
			right: -100vw;
			top: calc(5em + 40px);
			left: 100vw;
			opacity: 0.1;
			z-index: 900;
			visibility: hidden;
			overflow: hidden;
			display: block;
			background-color: #ffffff;
			text-align: left;
			padding: 36px;
			transition: all 0.3s ease-out}
			
			ul.sticky-actions > li > .expandable-area > div h3 {padding: 0; margin: 16px 0}
			ul.sticky-actions > li > .expandable-area > div h4 {margin-bottom: 0}
			ul.sticky-actions > li > .expandable-area > div p {margin: 0.5em 0 1.5em}
			
			@media screen and (max-width: 1023px) {
				ul.sticky-actions > li > a i.telephone:before {content: '\e803'; transform: rotate(180deg); margin-right: 1em}
				ul.sticky-actions > li.open > a,
				ul.sticky-actions > li.open > .expandable-area {visibility: visible; opacity: 1; left: 0; right: 0}
				ul.sticky-actions > li > .expandable-area > div:last-child {border-top: 1px solid #e5ebee}
			}
				

@media screen and (min-width: 1024px) {
	ul.sticky-actions,
	ul.sticky-actions > li {display: inline-block}
		
		ul.sticky-actions > li > a {
			text-align: center;			
			width: 80px;
			height: 66px;			
			top: auto;
			right: -2px;
			bottom: 18px;
			left: auto;			
			font-size: 0.9em;
			line-height: 1em;			
			visibility: visible;
			opacity: 1;
			z-index: 1;			
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			border: solid 1px #e0e7ea;
			box-shadow: 0 0 14px 0 rgba(0,0,0,.07);
			padding: 5px;				
			background-color: #ffffff}
			
			ul.sticky-actions > li > a:hover {background-color: #e0eef4}
			ul.sticky-actions > li.open > a {border-top: solid 1px transparent; box-shadow: none}
			ul.sticky-actions > li > a i {display: block; font-size: 1.5em; line-height: 1.5em}
		
		ul.sticky-actions > li > .expandable-area {			
			bottom: 83px;
			right: -2px;
			top: calc(100vh - 85px);
			left: calc(100vw - 5px);
			z-index: 1;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;			
			border: solid 1px #e0e7ea}
			
			ul.sticky-actions > li.open > .expandable-area {				
				visibility: visible;
				opacity: 1;
				top: calc(100vh - 450px);
				left: calc(100vw - 680px)}
				
			ul.sticky-actions > li > .expandable-area > div {display: inline-block; width: 50.00000%; vertical-align: top}				
			ul.sticky-actions > li > .expandable-area > div:last-child {border-left: 1px solid #e5ebee; padding: 0 25px}
}
