.content.setup-page > .loader {margin: 50px auto}

	.content.setup-page .input-group > label.amount:after {
		display: block;
		position: absolute;
		right: 20px;
		bottom: 0.9em;
		color: #7f9baa;
		content: "kr"}

@media screen and (min-width: 560px) {
	.content.setup-page .input-group > label.amount {width: 35%; padding-right: 20px}
	.content.setup-page .input-group > label.amount:after {right: 35px}
	.content.setup-page .input-group > label.account {width: 65%}
}

.account-details {padding: 42px; background-color: #d6ede7}
	.account-details > div {margin-bottom: 1em; position: relative; text-align: left}	
		.account-details > div .label {padding: 0.3em 0}
		.account-details > div .info {
			word-break: break-all;
			display: block;
			font-weight: 700;
			padding: 0.3em 0}

.content.setup-page .status {text-align: center; margin: 2em 0}
	.content.setup-page .status i {
		background-color: #09B89D;
		color: #fff;
		font-size: 30px;
		width: 60px;
		height: 60px;
		padding: 10px;
		border-radius: 30px}